select{
  background: #E3DCD8;
  color: #404040;
  font-family: Lato-Bold, serif;
  padding: 16px 14px;
  outline: none;
  width: 80%;
  border: 2px #404040 solid;
  border-radius: 5px;
  margin-bottom: 5px;
  appearance: none;
  font-weight: normal;
}