@import "styles/global";

article.dashboard-matchs{
  min-height: 60vh;
  margin: 20px 0;
  width: 90%;
  text-align: center;
  background: $card-background;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  section.filter-section{
    width: 90%;
    margin: 0 auto;
    div.date-filters{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      div.date-filter{
        margin: 5px auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        label{
          text-align: left;
          margin-bottom: 5px;
        }

        input{
          font-size: 17px;
          background: rgba(255, 255, 255, 0.2);
          color: #404040;
          font-family: Lato-Bold, serif;
          padding: 16px 14px;
          outline: none;
          width: 92%;
          border: 2px #404040 solid;
          border-radius: 5px;
        }
      }
    }
  }

  section.content{
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    div.add-match-button{
      width: 90%;
      display: flex;
      justify-content: flex-end;
    }

    table {
      width: 90%;
      border-collapse: collapse;
      margin: 20px 0;
      background-color: #f2f2f2;

      th, td {
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }

      td{
        text-align: left;
      }

      tr:hover {
        background-color: #e1e1e1;
      }
    }

    .action-buttons{
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    button {
      padding: 5px 10px;
      border: solid 1px $base-blue;
      border-radius: 5px;
      color: $text-color;
      background: $button-hover;
      cursor: pointer;
      transition: all $transition-duration;
      font-weight: bold;

      &:disabled{
        background: $button-error-color;
        &:hover{
          cursor: not-allowed;
        }
      }

      &:not(:disabled):hover {
        background-color: $base-blue;
        color: whitesmoke;
        border-color: $button-hover;
      }
    }
    div.pagination{
      div.page-number{
        margin-bottom: 10px;
      }
      button{
        margin: auto 5px;
      }
    }
  }
}

@media(max-width: $layout-breakpoint-extra-small){
  article.dashboard-matchs{
    section.content{
      .action-buttons {
        flex-direction: column;
        * {
          width: 100%;
        }
        > *{
          margin-bottom: 5px;
        }
      }
    }
  }
}