

footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: $base-blue;

  .footer-link{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
  }

  .copyright{
    font-size: 20px;
    color: whitesmoke;
    letter-spacing: 1px;
  }
}

@media (max-width: $layout-breakpoint-extra-small)
{
  .footer-link{
    flex-direction: column;
    height: 50%;
  }
}
