

header.app-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  .logo-app{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
      border-radius: 15px;
    }
  }

  .app-title{
    font-family: Lato-Regular, serif;
    letter-spacing: 1px;
    color: $text-color;
    font-size: calc(5px + 1vw);
    transition: color 0.3s ease-in-out;
  }

  .links{
    width: 60%;
    height: 100%;

    &--scrolling{
        a {
          color: whitesmoke !important;
          &::after{
            background-color: whitesmoke !important;
          }
        }
    }
  }

  &--scrolling {
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 1);
    background: $base-blue;
    .app-title{
      color: whitesmoke;
    }
  }
}

@media(max-width: $layout-breakpoint-medium) {

  header{
    .logo-app{
      margin-left: 80px;
    }

    .app-title{
      width: 60%;
      text-align: center;
      font-size: calc(9px + 1vw);
    }

    .links{
      display: none;
    }
  }

}

@media (max-width: $layout-breakpoint-small) {
}

