

nav{
  width: 100%;
  height: 100%;
}

.link-list{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $text-color;

  ul{
    height: 100%;
  }
}
@media(max-width: $layout-breakpoint-medium) {

}
